body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex: 1;
}

footer {
  background-color: #181818;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.menuSuperior {
  background-color: #181818;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.menuSuperior a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menuSuperior img {
  margin-right: 5px;
}

.menuSuperior ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menuSuperior li {
  margin-right: 10px;
}

.menuSuperior a:hover {
  color: #c9e619; /* Color diferente al hacer hover */
}

.Banner img {
  width: 100%;
  height: auto;
}

.contenido {
  padding: 10px;
}
